- name: vbox_play
  #hosts: box_hosts
  hosts: ubuntu_1 
  vars:
    ansible_user: zimoff_1
    my_var: test_var 
  vars_files:
    - ./monitoring_vars.yaml
    - ../secrets.yaml
  tasks:
    - name: "check hosts"
      ansible.builtin.ping:
      register: ping_var
      tags: "ping_hosts"

    - name: "run nginx"
      #become: yes
      community.docker.docker_container:
        name: my_ng 
        image: nginx 
        state: started 
        ports:
          - 8888:80
      tags: "run_nginx"


    - name: "pushgateway install"
      block:
        - name: "make dir for pushgateway" 
          ansible.builtin.file:
            path: ~/pushgateway
            state: directory
          tags: "make_dir_gate"

        - name: "pushgateway" 
          ansible.builtin.unarchive:
            src: "https://github.com/prometheus/pushgateway/releases/download/v0.8.0/pushgateway-0.8.0.linux-amd64.tar.gz"
            dest: ~/pushgateway
            remote_src: yes
          tags: "pushgateway"

        - name: "pushgateway" 


      tags: "get_pushgateway"


    - name: "prometheus install"
      block:
        - name: "make dir for prometheus" 
          ansible.builtin.file:
            path: ~/prometheus
            state: directory
          tags: "make_dir"

        - name: "get prometheus" 
          ansible.builtin.unarchive:
            src: "https://github.com/prometheus/prometheus/releases/download/v2.9.2/prometheus-2.9.2.linux-amd64.tar.gz"
            dest: ~/prometheus
            remote_src: yes
          tags: "prometheus"
      tags: "get_prometheus"

    - name: "run prometheus"
      block:
      - name: "add unit"
        become: yes
        ansible.builtin.template:
          src: ./templates/prometheus_unit.j2
          dest: /etc/systemd/system/prometheus.service
        tags: "add_unit"

      - name: "run unit"
        become: yes
        ansible.builtin.systemd_service:
          name: prometheus
          state: started
        tags: "run_unit"
      tags: "run_prometheus"


    #- name: "start prometheus"
      #become: yes
      #ansible.builtin.shell: 
        #chdir: ~/prometheus/prometheus-2.9.2.linux-amd64 
        #cmd: "nohup ./prometheus > /dev/nill 2>&1 &"
      #tags: "start_pr"


