[Unit]
Description=scrap cpu data script
After=network.target

[Service]
Type=simple
ExecStart=/home/{{ ansible_user }}/scripts/cpu_script.sh
WorkingDirectory=/home/{{ ansible_user }}/scripts
Restart=always
User={{ ansible_user }} 

[Install]
WantedBy=multi-user.target

