- name: vbox_play
  #hosts: box_hosts
  hosts: ubuntu_1 
  vars:
    ansible_user: zimoff_1
    my_var: test_var 
  vars_files:
    - ./my_vars.yaml
    - ./secrets.yaml
  tasks:
    - name: "check hosts"
      ansible.builtin.ping:
      register: ping_var
      tags: "ping_hosts"

    #- name: "add sudoers"
      #become: yes
      #ansible.builtin.template:
        #src: ./templates/my_sudoers.j2
        #dest: /etc/sudoers.d/my_sudoers

    - name: "add user"
      become: yes
      ansible.builtin.user:
        name: "{{ user_1 }}"
        shell: "/bin/bash"
        password: "{{ user_1_pass | password_hash('sha512', 'somesalt') }}"
        #password: "$6$rounds=656000$somesalt$/apEF2JP8E/BUo27o7QJ2DwrlP1nz8mr0RI..Z1Qfe2G21GErFB0TXecgKRhpVhjWgCWhiqKLCWelwso.99Xd."
        

    - name: "apt remove"
      become: yes
      #ansible.builtin.command:
        #cmd: "sudo apt update"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: absent 
      loop: [ "docker.io", "docker-doc", "docker-compose", "docker-compose-v2", "podman-docker", "containerd runc"]
      register: apt_remove
      tags: "apt_remove"


    - name: "apt update preinstall"
      become: yes
      #ansible.builtin.command:
        #cmd: "sudo apt update"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop: [ "ca-certificates", "curl", "gcc", "libc6"]
      register: apt_res
      tags: "apt_preinstall"

    - name: "add apt key"
      become: yes
      #ansible.builtin.command:
        #cmd: "sudo apt update"
      ansible.builtin.apt_key:
        url: "https://download.docker.com/linux/ubuntu/gpg"
        state: present
      tags: "add_apt_key"

    - name: "add repo"
      become: yes
      #ansible.builtin.command:
        #cmd: "sudo apt update"
      ansible.builtin.apt_repository:
        repo: "deb https://download.docker.com/linux/ubuntu   noble stable"
        #repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu   noble stable"
        state: present
      tags: "add_repo"

    - name: "apt docker"
      become: yes
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop: [ "docker-ce", "docker-ce-cli", "containerd.io", "docker-buildx-plugin", "docker-compose-plugin"]
      register: apt_docker
      tags: "apt_docker"

    - name: "debug check"
      ansible.builtin.debug:
        #msg: "end of first playbook user_1: {{ user_1 }} user pass: {{ user_1_pass }} hash: {{ user_1_pass | password_hash('sha512', 'somesalt') }}"
        msg: "end of first playbook user_1: {{ user_1 }}"
      tags: "debug_1"


#- name: apt_up 
  ##hosts: box_hosts
  #hosts: ubuntu_1 
  #vars_files:
    #- ./my_vars
  #vars:
    #ansible_user: "{{ user_1 }}" 
  #tasks:

    #- name: "debug check"
      #ansible.builtin.debug:
        ##msg: "hello123 name: {{ ansible_facts.hostname }}"
        #msg: "end of first playbook user_1: {{ ansible_user }}"
        ##var: apt_res
      #tags: "debug_2"



    #- name: "debug check"
      #ansible.builtin.debug:
        ##msg: "hello123 name: {{ ansible_facts.hostname }}"
        #msg: "hello123 name: {{ ping_var.changed }}"
      #tags: "debug"
        #var: ansible_facts.hostname

#- name: vbox_gcc
  #hosts: ubuntu_1 
  #vars:
    #ansible_user: zimoff_1
  #tasks:
    #- name: "install gcc"
      #become: yes
      #ansible.builtin.package:
        #name: "gcc"
        #state: present
      #delegate_to: ubuntu_1


